@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Roboto+Mono&family=Rubik:wght@500&display=swap');

body {
    font-family: "Roboto Mono";
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#debugstats1 {
    font-size: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 11vw;
    height: 10vw;
    padding: 0.5vw 1vw;
    white-space: pre-line;
    opacity: 50%;
    z-index: 100;
}

#debugstats2 {
    font-size: 1vw;
    position: absolute;
    top: 0;
    right: 0;
    width: 11vw;
    height: 10vw;
    padding: 0.5vw 1vw;
    white-space: pre-line;
    opacity: 50%;
    z-index: 100;
    text-align: right;
}

h3 {
    font-size: 5vw;
    line-height: 0vw;
}

.player-info {
    display: block;
    position: absolute;
    top: 75%;
    justify-content: center;
    text-align: center;
}

#p1 {
    left: 20%;
}

#p2 {
    left: 70%;
}

#game-over-container {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#game-over-header {
    width: 100vw;
    text-align: center;
    font-size: 5vw;
}

#stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    margin-bottom: 10vh;
}

.stats {
    display: block;
    font-size: 2vw;
    text-align: center;
    white-space: pre-wrap;
}

a {
    display: block;
    font-size: 2vw;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    padding: 2vh 8vw;
    border: solid 0.5vw;
    border-radius: 2vw;
}