@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Roboto+Mono&family=Rubik:wght@500&display=swap');

body {
    font-family: "Roboto Mono";
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#stats1 {
    font-size: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 11vw;
    height: 10vw;
    padding: 0.5vw 1vw;
    white-space: pre-line;
    opacity: 50%;
    z-index: 100;
}

#stats2 {
    font-size: 1vw;
    position: absolute;
    top: 0;
    right: 0;
    width: 11vw;
    height: 10vw;
    padding: 0.5vw 1vw;
    white-space: pre-line;
    opacity: 50%;
    z-index: 100;
    text-align: right;
}

h3 {
    font-size: 5vw;
    line-height: 0vw;
}

.player-info {
    display: block;
    position: absolute;
    top: 75%;
    justify-content: center;
    text-align: center;
}

#p1 {
    left: 20%;
}

#p2 {
    left: 70%;
}

#game-over-container {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
}

#game-over {
    font-size: 3vw;
}